<header>
    <img src="{{user.image}}" alt="Profilbild" />
    <div id="user-context-menu">
        <h2 class="name">{{ user.name }}</h2>
    </div>

    <h1>Meine Playlists</h1>
    
</header>

<h1 class="text-centered">Deine Playlists</h1>

<ul id="playlists">
    {{#each playlists}}
    <li>
        <section class="playlist-image-large">
            <img src="{{this.images.0.url}}" alt="Titelbild">
        </section>
        <section class="playlist-content">
            <h2 class="text-centered">{{this.name}}</h2>
            <a class="button text-centered"
                href="/playlist/{{this.id}}">Ansehen</a>
        </section>
    </li>
    {{/each}}
</ul>