{{> navigation }}

<div id="content" style="--color: {{ playlist.color }}">
    <header>
        <img src="{{ playlist.image }}" class="box-shadow playlist-image" alt="Titelbild"/>
        <h1>{{ playlist.name }}</h1>
        <p>{{ playlist.tracks.length }} Songs</p>               
    </header>

    <main>
        {{#if (condition playlist.tracks.length '==' 0) }}
            <div id="emptyPlaylist">
                <p>Diese Playlist enthält keine Lieder</p>
                <img src="/img/eye-small.png" alt=""/>
            </div>
        {{else}}            
            <button name="shuffle"
                onclick="shuffle()">
                <svg
                    height="512px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512"
                    width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M370.1,181.3H399v47.3l81-83.2L399,64v54h-28.9c-82.7,0-129.4,61.9-170.6,116.5c-37,49.1-69,95.4-120.6,95.4H32v63.3h46.9  c82.7,0,129.4-65.8,170.6-120.4C286.5,223.7,318.4,181.3,370.1,181.3z M153.2,217.5c3.5-4.6,7.1-9.3,10.7-14.1  c8.8-11.6,18-23.9,28-36.1c-29.6-27.9-65.3-48.5-113-48.5H32v63.3c0,0,13.3-0.6,46.9,0C111.4,182.8,131.8,196.2,153.2,217.5z   M399,330.4h-28.9c-31.5,0-55.7-15.8-78.2-39.3c-2.2,3-4.5,6-6.8,9c-9.9,13.1-20.5,27.2-32.2,41.1c30.4,29.9,67.2,52.5,117.2,52.5  H399V448l81-81.4l-81-83.2V330.4z" />
                </svg>
            </button>
            <table id="tracks">
                <thead>
                    <tr>
                        <td style="width: 50px;">#</td>
                        <td style="width: 100px;"></td>
                        <td style="width: 500px;">TITEL</td>
                    </tr>
                </thead>
                <tbody>
                    {{#each playlist.tracks }}
                    <tr>
                        <td>{{increment @index}}.</td>
                        <td><img src="{{this.album.images.2.url}}" alt="Album Cover"></td>
                        <td>{{ this.name }}</td>
                    </tr>
                    {{/each }}
                </tbody>
            </table>
        {{/if}}
    </main>
</div>

<div id="shuffleAnimationContainer">
    <h2 class="text-centered">Mische Playlist...</h2>
    <div id="loadingCircle"></div>
</div>

{{#unless hideWarning }}
    <div id="warningModal" style="display: none">
        <div class="content" style="--color: {{ playlist.color }}">
            <div class="header">
                <h2>Warnung</h2>
            </div>
            <div class="body">
                <p>
                    Beim Mischen der Playlist werden Lieder aus der Playlist gelöscht und wieder hinzugefügt.
                    Im unwahrscheinlichen Fall eines Fehlers kann es passieren, dass nach dem Mischen einige 
                    oder alle Lieder fehlen.
                </p>
                <p>Bist Du sicher, dass Du die Playlist mischen möchtest?</p>
                <div style="margin-top: 20px">
                    <label for="warning-checkbox">Diesen Hinweis nicht wieder anzeigen</label>
                    <input id="warning-checkbox" type="checkbox" onchange="onCheckboxChanged(this)"/>
                </div>
            </div>
            <div class="controls flex-row"> 
                <button onclick="onWarningAccepted()">Ja, mischen</button>
                <button onclick="onModalCancelled()">Nein, abbrechen</button>
            </div>
        </div>
    </div>
{{/unless }}