<header>
    <img src="{{ user.image }}" alt="Profilbild" />
    <div id="user-context-menu">
        <h2 class="name">{{ user.name }}</h2>
    </div>

    <h1>{{ playlist.name }}</h1>
    
</header>

<!--div id="header">
    <img class="playlist-image-normal" src="{{image}}" alt="Cover">
    <h1 class="name">{{name}}</h1>
</div-->

<ul id="tracks">
    {{#each playlist.tracks}}
    <li>{{ this.name }}</li>
    {{/each}}
</ul>

<div id="controls">
    <a class="button" href="/playlists">Zurück</a>
    <a class="button" data-id="{{ playlist.id }}" onclick="Api.shuffle(this)">Mischen</a>
</div>