<header>
    <img src="{{user.image}}" alt="Profilbild" />
    <div id="user-context-menu">
        <h2 class="name">{{ user.name }}</h2>
        <a href="/logout">Ausloggen</a>
    </div>

    <h1>Meine Playlists</h1>    
</header>

<ul id="playlists">
    {{#each playlists}}
    <li class="playlist">
        <section class="playlist-image-large">
            <img src="{{this.images.0.url}}" alt="Titelbild">
        </section>
        <a href="/playlist/{{ this.id }}"><h2 class="text-centered">{{ this.name }}</h2></a>
    </li>
    {{/each}}
</ul>