<header>
    <img src="{{ user.image }}" alt="Profilbild" />
    <div id="user-context-menu">
        <h2 class="name">{{ user.name }}</h2>
        <a href="/logout">Ausloggen</a>
    </div>

    <h1 style="transform: translate(-100%, -50%);">{{ playlist.name }}</h1>
    <img class="playlist-image playlist-image-normal" src="{{ playlist.image }}" alt="Cover">

</header>

<ul id="tracks">
    {{#each playlist.tracks}}
    <li>{{ this.name }}</li>
    {{/each}}
</ul>

<div id="controls">
    <a class="button" href="/playlists">Zurück</a>
    <a class="button" data-id="{{ playlist.id }}" onclick="Api.shuffle(this)">Mischen</a>
</div>